@import url(https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap);

@font-face {
	font-family: 'Fb Elitism';
	src:url('../fonts/FbElitism/FbElitism-Regular.otf'); 
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FbElitism';
	src:url('../fonts/FbElitism/FbElitism-Bold.otf');  
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fb Elitism';
	src:url('../fonts/FbElitism/FbElitism-Black.otf');  
	font-weight: 900;
	font-style: normal;
}